@import "./variables.scss";

.form {
	display: flex;
	flex-direction: column;

	&__label {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
	}

	&__input {
		margin-top: 0.375rem;
		padding: 0.75rem;
		border-radius: 0.375rem;
		border: 1px solid $grey;
		outline: none;
		max-width: 225px;
		box-sizing: content-box;
		font-weight: 400;
	}
}
