$shadow1px: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.1);

$shadow5px: 0 1px 2px rgba(0, 0, 0, 0.3), 0 3.4px 6.7px rgba(0, 0, 0, 0.15),
	0 15px 30px rgba(0, 0, 0, 0.07);

$shadow10px: 0 1.7px 3.4px rgba(0, 0, 0, 0.3),
	0 5.6px 11.4px rgba(0, 0, 0, 0.15), 0 25px 51px rgba(0, 0, 0, 0.07);

$primary: #326799;
$secondary: #3d2979;
$primaryGradient: linear-gradient(160deg, #30d0d0a8 0%, #330867 100%);
$white: #fff;
$whiteTransparent: #ffffffcc;
$lightGrey: #eee;
$grey: #ccc;
$darkGrey: #333;
$darkestGey: #222;
