@import "./variables.scss";

@font-face {
	font-family: "Font";
	src: url(./assets/fonts/Font_Rg.woff2);
	font-weight: 400;
}
@font-face {
	font-family: "Font";
	src: url(./assets/fonts/Font_Bd.woff2);
	font-weight: 600;
}

@font-face {
	font-family: "Font";
	src: url(./assets/fonts/Font_ExBd.woff2);
	font-weight: 800;
}

body {
	font-family: "Font", system-ui, ui-sans-serif;
	font-weight: 400;
	margin: 0;
}

.fadeInBottomEntrance {
	animation: fadeInBottomEntrance 0.5s ease-in-out forwards;
}

@keyframes fadeInBottomEntrance {
	0% {
		opacity: 0;
		transform: translateY(0.75rem) scale(0.8);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.button {
	border: none;
	font-family: "Font";
	font-weight: 400;
	border-radius: 3rem;
	cursor: pointer;
	box-shadow: $shadow5px;
	display: inline-block;
	text-decoration: none;
	z-index: 2;
	transition-property: transform, box-shadow;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(1);
	padding: 0.5rem 1rem;

	&__primary {
		background-color: #326799;
		color: #fff;
	}

	&__secondary {
		background: #eee;
		color: #333;
		border: 1px solid #ccc;
	}

	&--large {
		font-size: 1.5rem;
		padding: 0.75rem 1.5rem;
	}

	&:hover,
	&:focus {
		transform: scale(1.05);
		box-shadow: none;
	}
}

.funkyOuter {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #eee;
}

.funkyInner {
	overflow: auto;
	max-width: 450px;
	width: calc(100vw - 3rem);
	max-height: 900px;
	height: calc(100vh - 3rem);
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 0.75rem;
	box-shadow: $shadow10px;
	overflow-y: auto;
}

.siteHeader {
	background-image: linear-gradient(160deg, #30d0d0a8 0%, #330867 100%);
	padding: 1rem;
	position: sticky;
	top: 0;
	border-bottom: 1px solid #222;
	z-index: 3;
	box-shadow: $shadow5px;
	backdrop-filter: blur(5px);

	&__h1 {
		margin: 0;
		color: #fff;
		text-align: left;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: -0.05rem;
	}
}

.siteMain {
	flex-grow: 1;
	padding: 0.75rem;
}

::-webkit-scrollbar {
	width: 11px;
}
::-webkit-scrollbar-track {
	background-color: #eee;
	border-radius: 0 0.75rem 0.75rem 0;
}
::-webkit-scrollbar-thumb {
	background-color: #3d2979;
	border-radius: 0 0.75rem 0.75rem 0;
}

.siteFooter {
	padding: 0.75rem;
	background: #ffffffcc;
	color: #222;
	position: sticky;
	bottom: 0;
	backdrop-filter: blur(5px);
	text-align: center;
}

@media only screen and (min-width: 450px) {
	.funkyOuter {
		background-size: cover;
		background-image: url(./assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
	}
}

.form {
	display: flex;
	flex-direction: column;

	label {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
	}
}

.boldText {
	font-weight: 600;
	letter-spacing: -0.02rem;
	font-size: 1.5rem;
}

.formInput {
	margin-top: 0.375rem;
	padding: 0.75rem;
	border-radius: 0.375rem;
	border: 1px solid #ccc;
	outline: none;
	max-width: 225px;
	box-sizing: content-box;
	font-family: "Font";
	font-weight: 400;
}

.shoppingItem {
	margin: 0 0 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__header {
		margin: 0;
	}

	&__info {
		margin: 0;
	}
}

.buttonStack {
	display: block;
	margin-bottom: 0.75rem;
}
