@import "./styles/animations.scss";
@import "./styles/button.scss";
@import "./styles/form.scss";
@import "./styles/site.scss";
@import "./styles/utils.scss";
@import "./styles/window.scss";

body {
	font-family: system-ui, ui-sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	margin: 0;
}
